In [6]:
#convert an integer to a floating-point number.

integer_number = 40
floating_point  = float(integer_number)
print(floating_point)

40.0

In [2]:
#convert an float to a integer.

float_number = 50.8
integer_number = int(float_number)
print(integer_number)

50

In [7]:
#convert an integer to a string.

integer_number = 42
string_number = str(integer_number)
print(string_number)
type(string_number)

42

str

In [3]:
#convert a list to a tuple

my_list = [1,2,3,4,5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [2]:
#convert a tuple to a list

my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
print(my_list) 
my_list[4] = 2
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 2]

In [7]:
#convert a decimal number to binary.

decimal_number = 10
binary_number = bin(decimal_number)
print(binary_number)

0b1010

In [9]:
#convert a non-zero number to boolean.

non_zero_number = 42
boolean_value = bool(non_zero_number)
print(non_zero_number)

42

int